#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.counter__number {
  text-align: center;
  margin: 20px 0;
}

.counter__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter__change-by-input {
  margin-bottom: 10px;
}

.counter__button-minus {
  margin-right: 5px;
}

.counter__button-add {
  margin-left: 5px;
}

.counter__button-reset {
  margin-bottom: 15px;
}

.counter__wrapper {
  padding: 20px 20px;
  border-width: 2px;
}

.counter__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}